.card-logo{
    width: 7em;
    height: 7em;
    display: block;
}

.emv-chip{
    width: 3em;
    height: 3em;
    margin: 0 1em;
}

.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-pic{
    height: 100px;
    width: 75px;
    object-fit: cover;
}

.flex-grow-1{
    flex-grow: 1;
}

.flex-grow-3{
    flex-grow: 3;
}